<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Reset style -->
    <link rel="stylesheet" href="/css/reset.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- Animate CSS -->  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="./images/celebrityshowdown-logo-black.png" />
    <title>Celebrity Showdown</title>
</head>

<body>
    <header class="p-3">
        <div class="row d-flex flex-row justify-content-between align-items center">
            <div class="d-flex justify-content-start align-items-center">
                <h1 class="text-warning d-inline pl-5">Celebrity Showdown</h1>
            </div>
            <div class="pr-3">
                <div class="row">
                    <a href="/" class="text-warning navigation-link px-3">
                        <h3>Home</h3>
                    </a>
                    <a href="/leaderboard" class="text-warning navigation-link px-3">
                        <h3>Leaderboard</h3>
                    </a>
                    {{#if logged_in}}
                    <a href="/profile" class="text-warning navigation-link px-3">
                        <h3>Profile</h3>
                    </a>
                    <a href="/showdowns" class="text-warning navigation-link px-3">
                        <h3>Showdown</h3>
                    </a>
                    {{else}}
                    <a href="/login" class="text-warning navigation-link px-3">
                        <h3>Login</h3>
                    </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </header>
    <main>
        {{{body}}}
    </main>

    <body>

</html>