<div class="row d-flex justify-content-center align-items-center w-100 mt-5 mx-0">
    <div class="col-lg-8 col-md-12 col-sm-12">
        <section class="card flex-fill border-warning">
            <summary class="card-header bg-dark">
                <h2 class="text-center">Leaderboard</h2>
            </summary>
        </section>
    </div>
</div>