<div class="d-flex justify-content-center flex-row flex-wrap my-5 pt-5">

    <!-- Login form -->
    <div id="login" class="mx-5 p-4">
        <h3 id="login-header" class="text-warning text-center">Login</h3>
        <form class="form login-form text-white">
            <div class="d-flex justify-content-end flex-fill form-group">
                <label for="email-login" class="mr-2">email</label>
                <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="d-flex justify-content-end flex-fill form-group">
                <label for="password-login" class="mr-2">password</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="d-flex justify-content-end flex-fill form-group">
                <button class="btn btn-danger" type="submit">login</button>
            </div>
        </form>
    </div>

    <!-- Signup form -->
    <div id="signup" class="mx-5 p-4">
        <h3 id="signup-header" class="text-warning text-center">Signup</h3>
        <form class="form signup-form text-white">
            <div class="d-flex justify-content-end flex-fill form-group">
                <label for="name-signup" class="mr-2">name</label>
                <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="d-flex justify-content-end flex-fill form-group">
                <label for="email-signup" class="mr-2">email</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="d-flex justify-content-end flex-fill form-group">
                <label for="password-signup" class="mr-2">password</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="d-flex justify-content-end flex-fill form-group">
                <button class="btn btn-danger" type="submit">signup</button>
            </div>
        </form>
    </div>
    
</div>

<script src='js/login.js'></script>
<script src='js/signup.js'></script>