@font-face {
    font-family: street;
    src: url(../font/Act_Of_Rejection.ttf)
}

body {
    background-color: rgb(34, 34, 37);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 300%;
    text-shadow: 3px 3px red;
}

h2 {
    text-shadow: 2px 2px red; 
    letter-spacing: 3px;   
}

header, h2, h3, h4 {
    font-family: street;
    color: goldenrod;
}

.nav {
    letter-spacing: 3px;    
}

.fighter {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid red;
}

h3, h4 {
    letter-spacing: 2px;
}

.swords {
    width: 125px;
    height: 125px;
}

.victory {
    color: rgb(0, 228, 68);
}

.defeat {
    color: rgb(196, 0, 130);
}

.fighter-name {
    max-width: 200px;
}

main {
    display: block;
    }

#login {
    margin-top: 15%;
}

#signup {
    margin-top: 15%;
    margin-right: 10%;
}

#signup-header {
    margin-left: 50%;
}

#login-header {
    margin-left: 50%;
}

.profile-cards {
    width: 200px;
    
}


.progress {
    width: 100%;
    background-color: grey;
}

.lifeBar {
    width: 75%;
    height: 30px;
    background-color: green;
}

#showdown-level {
    font-weight:400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

#showdown-btn {
    font-size: x-large;
    box-shadow: black;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 10%;

}

/* Main header in each handlebar view*/
.page-header {
    letter-spacing: 6px;
}

/* Leaderboard user entry icon */
.leaderboard-icon {
    width: 100px;
    height: 100px;
}

/* Spacing for user cards in leaderboards */
.leaderboard-attribute {
    letter-spacing: 4px
}

@media screen and (max-width: 755px) {
    .fighter {
        width: 75px;
        height: 75px;
    }

    .swords {
        width: 60px;
        height: 60px;
    }

    .leaderboard-icon {
        width: 75px;
        height: 75px;
    }
}

